# Introduction To The Data Set

In [58]:
import csv
data=list(csv.reader(open("guns.csv")))

In [59]:
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

# Removing Headers

In [60]:
headers=data[0]
data=data[1:]

In [61]:
print(headers)

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']

In [62]:
print(data[:5])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

# Counting Deaths By Year

In [63]:
years=[row[1] for row in data]

In [64]:
print(years[:5])

['2012', '2012', '2012', '2012', '2012']

In [65]:
year_counts={}
for year in years:
    if year in year_counts:
        year_counts[year]+=1
       
    else:
         year_counts[year]=1

In [66]:
print(year_counts)

{'2012': 33563, '2013': 33636, '2014': 33599}

# Counting Deaths By Month and Year

In [67]:
import datetime

In [68]:
dates=[datetime.datetime(year=int(row[1]),month=int(row[2]),day=1) for row in data]

In [69]:
dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [70]:
date_counts={}
for date in dates:
    if date in date_counts:
        date_counts[date]+=1
        
    else:
        date_counts[date]=1

In [71]:
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

# Exploring Gun Deaths By Race And Sex

In [72]:
sexes=[row[5] for row in data]
sex_counts={}
for sex in sexes:
    if sex in sex_counts:
        sex_counts[sex]+=1
        
    else:
         sex_counts[sex]=1

In [73]:
sex_counts

{'F': 14449, 'M': 86349}

In [74]:
races=[row[7] for row in data]
race_counts={}
for race in races:
    if race in race_counts:
        race_counts[race]+=1
        
    else:
         race_counts[race]=1

In [75]:
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

## Findings So Far

- Number of gun deaths each year from 2012 to 2014 have roughly remained thesame

- Number of male deaths is much greater than female deaths

- "white" people account for the greatest number of gun deaths followed by "black" people

# Reading In A Second Dataset

In [76]:
census=list(csv.reader(open("census.csv")))

In [77]:
(census)

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

# Computing Rates Of Gun Deaths Per Race

In [78]:
mapping={"Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956}

race_per_hundredk={}
for k,v in race_counts.items():
    race_per_hundredk[k] = (v / mapping[k]) * 100000

In [79]:
race_per_hundredk

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

# Filtering By Intent - Homicide

In [80]:
from collections import Counter
homicide_race_per_hundredk = {}
homicide_race = [row[7] for row in data if row[3] == "Homicide"]
homicide_race_counts = Counter(homicide_race)
for k,v in homicide_race_counts.items():
    homicide_race_per_hundredk[k]= (v/mapping[k])*100000

In [81]:
homicide_race_counts

Counter({'Asian/Pacific Islander': 559,
         'Black': 19510,
         'Hispanic': 5634,
         'Native American/Native Alaskan': 326,
         'White': 9147})

In [82]:
homicide_race_per_hundredk

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}


## Findings

It appears that gun related homicides in the US disproportionately affect people in the Black and Hispanic racial categories.

Some areas to investigate further:

- The link between month and homicide rate.
- Homicide rate by gender.
- The rates of other intents by gender and race.
- Gun death rates by location and education.

# Link Between Months And Homicide Rates

In [83]:
months = [row[2] for row in data if row[3] == 'Homicide']
homicide_month_counts = Counter(months)

In [84]:
homicide_month_counts

Counter({'01': 2829,
         '02': 2178,
         '03': 2780,
         '04': 2845,
         '05': 2976,
         '06': 3130,
         '07': 3269,
         '08': 3125,
         '09': 2966,
         '10': 2968,
         '11': 2919,
         '12': 3191})

# Gun Deaths By Intent And Column

In [85]:
intents = [row[3] for row in data]
print(set(intents))

{'Homicide', 'Accidental', 'NA', 'Undetermined', 'Suicide'}

In [86]:
print(headers)

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']

In [87]:
def gun_deaths(column,intent):
    for i,v in enumerate(headers):
        if v == column:
            index=i
           
    column_intent = [row[index] for row in data if row[3] == intent]
    column_intent_counter = Counter(column_intent)
    return column_intent_counter

In [88]:
race_homicide = gun_deaths("race","Homicide")
race_homicide

Counter({'Asian/Pacific Islander': 559,
         'Black': 19510,
         'Hispanic': 5634,
         'Native American/Native Alaskan': 326,
         'White': 9147})

In [89]:
month_homicide = gun_deaths("month","Homicide")
month_homicide

Counter({'01': 2829,
         '02': 2178,
         '03': 2780,
         '04': 2845,
         '05': 2976,
         '06': 3130,
         '07': 3269,
         '08': 3125,
         '09': 2966,
         '10': 2968,
         '11': 2919,
         '12': 3191})

In [90]:
month_suicide = gun_deaths("month","Suicide")
month_suicide

Counter({'01': 5220,
         '02': 4732,
         '03': 5309,
         '04': 5438,
         '05': 5506,
         '06': 5367,
         '07': 5514,
         '08': 5421,
         '09': 5343,
         '10': 5256,
         '11': 5086,
         '12': 4983})

In [91]:
gender_suicide = gun_deaths("sex","Suicide")
gender_suicide

Counter({'F': 8689, 'M': 54486})

In [92]:
gender_homicide = gun_deaths("sex","Homicide")
gender_homicide

Counter({'F': 5373, 'M': 29803})

In [93]:
gender_accidental = gun_deaths("sex","Accidental")
gender_accidental

Counter({'F': 218, 'M': 1421})

In [94]:
gender_NA = gun_deaths("sex","NA")
gender_NA

Counter({'M': 1})

In [95]:
gender_undetermined = gun_deaths("sex","Undetermined")
gender_undetermined

Counter({'F': 169, 'M': 638})

In [96]:
place_homicide = gun_deaths("place","Homicide")
place_homicide

Counter({'Farm': 76,
         'Home': 13613,
         'Industrial/construction': 85,
         'NA': 1383,
         'Other specified': 5429,
         'Other unspecified': 3604,
         'Residential institution': 73,
         'School/instiution': 361,
         'Sports': 22,
         'Street': 8867,
         'Trade/service area': 1663})

## Education Status can be of of the following
1. Less than High School
2. Graduated from High School or equivalent
3. Some College
4. At least graduated from College
5. Not available

In [97]:
education_homicide = gun_deaths("education","Homicide")
education_homicide

Counter({'1': 11839, '2': 15649, '3': 5640, '4': 1559, '5': 455, 'NA': 34})